# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment directory
env/

# Logs
*.log

# Temporary files
*.tmp

# Compiled Python files
*.pyc

# Dependency directories
lib/
lib64/

# Environment configuration
.env

# IDE files
.vscode/
.idea/

# Cache directories
.cache/
